<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <meta name="viewport" content="width=devide-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie-edge" />
  <title>Blog Node JS</title>
</head>
<body>
  <!-- topo -->
  {{>_navbar}}
  <!-- topo -->

  <div class="container mt-4">
    {{{body}}}
  </div>

</body>
<!-- JQuery -->
<script src="js/jquery.min-3.4.1.js"></script>
<!-- JavaScript BootStrap -->
<script src="js/bootstrap.js"></script>
</html>
